.mobile-location{
    height: 4.8rem;
    font-size: 1.3rem;
    align-items: center;
    font-weight: 600;
    padding: 1rem;
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 50;
    background-color: var(--color-gray-lighter);
    box-shadow: var(--shadow-small);
}

.mobile-location i{
    margin-right: 1rem;
    font-size: 2rem;
}


#pac-input{
    display: none;
}
.map-header{
    height: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


    & > * {
        margin-top: 2rem;
        padding: 0 1.5rem;
        line-height: 33.6px;
    }
}

.services{
    background-color: var(--color-gray-medium);
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    & > * {
        margin-top: 2rem;
        line-height: 33.6px;
    }
}

.services__inputs{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
        & > * {
        margin-top: 1.6rem;
        line-height: 33.6px;
    }
}

.services__inputs #toggle-services-btn{
    height: 44px;
}

.services__inputs #or{
    text-align: center;
}

.services .services__button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.services .services__button span{
    margin-right: 1rem;
}


.services__button i{
    display: inline-flex;
    transition: all .6s ease;
}

.services__button[open] i{
    transform: rotateX(180deg);
}

.tsa-header__input {
    position: relative;
}

.tsa-header__input i{
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    font-size: 2.3rem;
}

.tsa-header__input input{
    padding-left: 4rem;
    width: 30rem;
}

#content {
    display: grid;
    row-gap: 3rem;
    margin-bottom: 3rem;
    justify-content: center;
}


#cta {
    display: flex;
    align-content: center;
    justify-content: center;
}

#contact::part(body){
    height: 35rem;
}

@media (min-width: 840px) {
    #content {
        grid-template-columns: auto auto;
        column-gap: 5.6rem;
    }
}


@media (min-width: 1280px) {
   .mobile-location{
        display: none;
    }

    #contact::part(title){
        font-size: 4.8rem;
    }


    #content {
        grid-template-columns: auto auto auto;
    }

    #pac-input{
        display: block;
    }

    .map__container{
        position: relative;
    }

    .map-header h1{
        padding: 0 40rem;
        line-height: 5.8rem;
    }


    .map-header .input__container{
        display: none;
    }

    .services{
        min-height: 35rem;
        justify-content: center;
    }

    .services__inputs{

        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        & > * {
        margin-right: 2rem;
        max-width: 50rem;
        }
    }
}

}
